/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(177, 177, 177, 0.144)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.178);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
